Source: pam-session-timelimit
Section: admin
Priority: optional
Maintainer: Steve Langasek <vorlon@debian.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 docbook-xsl,
 libcunit1-dev,
 libpam0g-dev,
 xsltproc,
Standards-Version: 4.6.2
Homepage: https://github.com/vorlonofportland/pam_session_timelimit
Vcs-Git: https://github.com/vorlonofportland/pam_session_timelimit -b debian

Package: pam-session-timelimit
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libpam-systemd,
Description: PAM module to permit configuring time limits for user sessions
 This module lets you pass session time limit information to pam_systemd.
